* {
  margin: 0;
  padding: 0;
}

button {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DCDCDC;
  font-family: 'Inter';
}

.info--email-button,
.info--linkedin-button {
  /* white */
  background: #FFFFFF;
  /* gray/300 */
  border: 1px solid #D1D5DB;
  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 9px 13px 9px 11px;
  margin: 15px 30px;
  width: 115px;
  height: 34px;
}

.info--button-container {
  display: flex;
}

.info--linkedin-button {
  background: #5093E2;
  color: #FFFFFF;
}

p {
  padding: 0 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%; 
}

.card--container {
  height: 865px;
  width: 550px;
  background-color: #23252C;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info--container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1A1B21;
  width: 315px;
}

.info--headshot {
  width: 315px;
  border-radius: 10px 10px 0px 0px;
}

.about--container, .interests--container {
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 315px;
  background-color: #1A1B21;
}

div .description--header {
  margin: 5px 10px;
}

.footer--container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161619;
  width: 315px;
  border-radius: 0px 0px 10px 10px;
}

.footer--icon {
  margin: 10px;
  height: 25px;
  width: 25px;
}
